body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 10px;
}
.heading {
    font-size: 1.5rem;
    font-weight: 600;
    color: teal;
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
    &::after {
        content: '';
        display: block;
        width: 10%;
        height: 2px;
        margin: 0 auto;
        background-color: #000;
    }
}
.img_style {
    padding: 1rem;
    // background-color: brown;
    height: 14rem;
    width: 15rem;
    margin-right: 1rem;
    transition: transform 0.5s;
    box-shadow: 2px 2px 10px 5px #cfcfcf;
    &:hover {
        transform: scale(1.1);
    }
}

nav {
    padding: 2rem;
    background-color: #000;
    margin: 0 auto;
    text-align: center;
    & input#search_term {
        padding: 1rem;
        border: 1px solid #000;
        border-radius: 1.5rem;
        outline: none;
        font-size: 1.2rem;
        text-align: center;
    }
}

main {
    margin: 0 auto;
    box-shadow: 2px 2px 10px 13px #cecece;
    width: 96%;
    padding: 0 1rem;
}
